{{!-- +++++++++++++++++++ HEADING/BUTTON HTML ++++++++++++++++++++ --}}



{{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
{{!-- ++++++++++++++++ ADDING A BURGER HTML ++++++++++++++++++++ --}}

<div class="monster-div">
  <div class="burger-container">

    <h2><u>New Movies</u></h2>
    <ul>
      {{#each burgers}} {{#unless this.devoured}}

      <li>
        <div class="burger-action">
          <div class="card" style="width: 18rem;">
            <a href="#" class="btn btn-primary">
              <img id="fuck" class="burgerType" src={{this.picture}} class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">{{this.burger_name}}</h5>
              <form action="api/burgers/{{this.id}}?_method=PUT" method="POST" class="dev">
                <input type="hidden" name="devoured" value="true">
                <button class="btnDevour" type="submit">Recommend it!</button>
              </form>
              <p class="card-text">{{this.description}}</p>
            </div>
          </div>
        </div>
      </li>
      {{/unless}} {{/each}}
    </ul>
  </div>

  {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
  {{!-- ++++++++++++++++ BURGERS DEVOURED HTML ++++++++++++++++++++ --}}

  <div class="devoured-container">

    <h2><u>Recommended Movies</u></h2>
    <ul>
      {{#each burgers}} {{#if this.devoured}}
      <li>

        <div class="burger-action">
          <div class="card" style="width: 18rem;">
            <a href="#" class="btn btn-primary">
              <img id="fuck" class="burgerType" src={{this.picture}} class="card-img-top" alt="..."></a>
            <div class="card-body">
            </div>
          </div>

      </li>
      {{/if}} {{/each}}
    </ul>

  </div>
  {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
</div>
